<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="theme-color" content="#fafafa">
</head>

<script type="text/javascript" src="/static/inventory/js/mainMenu.js"></script>
<script type="text/javascript" src="/static/inventory/js/vars.js"></script>
<script rel="javascript" type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.auth0.com/js/auth0/9.11/auth0.min.js"></script>

<body>

  <p>Hello world!</p>
  <div>
    <ul id="mainMenu">
    </ul>
  </div>

</body>
<script type="text/javascript">
  getApplications(API_URL + PERMISSIONS_API);
</script>
</html>
